
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css");

div.dropdown div.item:first-child {
    font-weight: 600!important;
}
.character-modal .modal-header { display: none; }
.character-modal .modal-footer { border-top: none; }
@media screen and (min-width: 767px ){
    .character-modal .modal-container {
        max-width: 80% !important;
        margin:0 auto;
        display: inline-block;
        width: auto;
        text-align:left;
    }
    .character-modal .modal-wrapper{text-align:center;}
}
.tooltip {
    &.standard-tooltip {
      .tooltip-inner {
        max-width: 1080px;
        .row {
          h6 {
            margin: 2px 2px;
          }
        }
      }
    }
  }

.highlight {
  background-color: #eee;
}

.width-100 {
  width: 100%;
}

.custom-flex {
  display: flex;
  padding: 0 17px;
}

.custom-character-field {
    margin-right: 20px;
}

.custom-character-field:last-child {
    margin-right: 0px;
}
.character-modal {
    .modal-body {
      max-height: 70vh;
      height: auto;
      overflow-y: auto;
    }
    .roundedBtn{
      border-radius: 50%;
      height: 30px;
      width: 30px;
      &.blueBtn{
        background-color: rgb(89, 142, 227);
        color: rgb(255, 255, 255);
        border-color: rgb(89, 142, 227);
      }
      &.pinkBtn{
        background-color: rgb(225, 158, 247);
        color: rgb(255, 255, 255);
        border-color: rgb(225, 158, 247);
      }
      &.orangeBtn{
        background-color: rgb(250, 143, 72);
        color: rgb(255, 255, 255);
        border-color: rgb(250, 143, 72);
      }
      
    }
}
.customTabbing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-collapse: collapse;
    list-style-type: none;
    margin: 0;
    padding: 0;
      li {
        border: 1px solid #a1a1a1;
        width: auto;
        text-align: center;
        padding: 3px 9px;
        border-radius: 8px 8px 0 0;
        border-bottom: 0;
        margin: 0;
      a{
        color: #636b6f;
        &:hover{
          text-decoration: none;
        }
      }
      &.active{        
        background-color: #0669a1;
        border: 1px solid #0669a1;
        a{
          color: #ffffff;
        }
      }
      &.grey{        
        background-color: grey;
        border: 1px solid grey;
        a{
          color: #ffffff;
        }
      }
      &.back-green {
        background-color: green;
        border: 1px solid green;
        a{
          color: #ffffff;
        }
      } 

  }
}



@media (max-width: 1024px) {
  .character-modal .modal-container {
    width: 95% !important;
  }
}

@media (max-width: 991px) {
  .custom-flex {
    flex-direction: column;
  }

  .character-modal .modal-container {
    width: 100% !important;
  }

  .custom-character-field {
    margin-bottom: 15px;
    margin-right: 0px !important; 
  }
}

.round-button-one {
  bottom: 0;
  position: absolute;
}
.round-button-two {
  bottom: 0;
  position: absolute;
}

.subClidField {
    display: flex;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

.custom-close {
  color: red;
  font-size: 20px !important;
  line-height: 26px !important;
}

.imagePreviewWrapper {
    width: auto;
    height: 350px;
    display: block;
    cursor: pointer;
    margin: 0 auto 30px;
    background-size: cover;
    background-position: center center;
}
.custom-carousal{
    padding: 10px;
    min-height: 435px;
    max-height: 500px;
    overflow: hidden;
}
.SelectUpload{
  display: block;
}
.SelectUpload input, .SelectUpload input:focus, .SelectUpload input:hover{
    outline: none;
    box-shadow: 0 0 0;
    margin-top: 15px !important;
    padding: 0;
    margin: 0 auto;
    width: 168px;
}

.custom-file-input {
  color: transparent;
  padding: 29px;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Upload New Illustration';
  color: white;
  display: inline-block;
  background: -webkit-linear-gradient(top, #3097D1, #3097D1);
  border: 1px solid #3097D1;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
  outline: none;
}
.custom-file-input:hover::before, .custom-file-input:focus::before { 
  outline: none;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #3097D1, #3097D1); 
}

.decision-tree {
  border-style: solid;
  border-width: thin;
  padding: 27px;
}




