
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css");

.modal-container{
  max-height: 80vh;
  overflow-y: auto;
  max-width: 1200px;
  width: 98% !important;
}
div.dropdown div.item:first-child {
    font-weight: 600!important;
}
.character-modal .modal-header { display: none; }
.character-modal .modal-footer { border-top: none; }
.mr-2{
  margin-right: 2rem;
}
.mr-1{
  margin-right: 1rem;
}
.justify-content-between {
  justify-content: space-between;
}
.character-modal{
  .modal-container{
    .custom-character-field{
      .width-100 {
        width: auto;
      }
    }
  }
}

.tooltip {
    &.standard-tooltip {
      .tooltip-inner {
        max-width: 1080px;
        .row {
          h6 {
            margin: 2px 2px;
          }
        }
      }
    }
  }

.highlight {
  background-color: #eee;
}

.width-100 {
  width: 100%;
}

.custom-flex {
  display: flex;
  padding: 0 17px;
}

.custom-character-field {
    margin-right: 20px;
}

.selectDataList{
  position: relative;
  input{
    padding: 3px;
    height: 26px;
  }
  ul{
    height: 150px;
    transition: all .25s ease-in-out;
    overflow-y: auto;
    border: 1px solid #cccccc;
    position: absolute;
    width: 100%;
    z-index:-1;
    opacity: 0;
    background: #ffffff;
    li{
      padding: 6px 6px;
      font-size: 13px;
      cursor: pointer;
      line-height: 18px;
      border-bottom: 1px solid #f7f4f4;
      &:hover{
        background-color: #3097D1;
        color: #ffffff;
      }
    }
  }
}

.selectDataList input:focus + ul { max-height: 150px; height: auto;display: block; z-index: 99999; opacity: 1;}


.custom-character-field:last-child {
    margin-right: 0px;
}
.character-modal {
    .modal-body {
      max-height: 70vh;
      height: auto;
      overflow-y: auto;
    }
    .roundedBtn{
      border-radius: 50%;
      height: 30px;
      width: 30px;
      &.blueBtn{
        background-color: rgb(89, 142, 227);
        color: rgb(255, 255, 255);
        border-color: rgb(89, 142, 227);
      }
      &.pinkBtn{
        background-color: rgb(225, 158, 247);
        color: rgb(255, 255, 255);
        border-color: rgb(225, 158, 247);
      }
      &.orangeBtn{
        background-color: rgb(250, 143, 72);
        color: rgb(255, 255, 255);
        border-color: rgb(250, 143, 72);
      }
      
    }
}
.customTabbing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    // flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-collapse: collapse;
    list-style-type: none;
    margin: 0;
    padding: 0;
      li {
        border: 1px solid #a1a1a1;
        width: auto;
        text-align: center;
        padding: 3px 9px;
        border-radius: 8px 8px 0 0;
        border-bottom: 0;
        margin: 0;
      a{
        color: #636b6f;
        &:hover{
          text-decoration: none;
        }
      }
      &.active{        
        background-color: #0669a1;
        border: 1px solid #0669a1;
        a{
          color: #ffffff;
        }
      }
      &.grey{        
        background-color: grey;
        border: 1px solid grey;
        a{
          color: #ffffff;
        }
      }
      &.back-green {
        background-color: green;
        border: 1px solid green;
        a{
          color: #ffffff;
        }
      } 

  }
}

.modal-mask{
  &.complete-modal{
    .modal-container {
      max-width: 1200px;
      width: 95%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      max-height: 80vh;
      overflow-y: auto;
      height: auto;
    }
    .modal-header{
      color: #000000;
      padding: 15px 0;
      p{
        font-size: 18px;
        b{
          font-style: italic;
        }
      }
    }
    .modal-body{
      max-height:50vh; 
      height: auto;
      overflow-y: auto;
      margin: 0;
      padding: 0;
      table{
        background-color: #ffffff;
        margin-bottom: 0;
        min-width: 750px;
        thead{
          background: #c5e0b4;
          color: #000000;
          font-size: 16px;
          text-align: center; 
          th{
            text-align: center;
            font-weight: 500;
            padding: 15px 5px;
            border: 1px solid #ffffff;
          }
        }
        tbody{
          
          tr{                   
            td{
              color: #000000;
              font-size: 12px;
              font-weight: 500;
              background-color: #deebf7;
              padding: 10px;
              border: 1px solid #ffffff;
              b{
                font-weight: 600;
              }
              input[type="radio"], input[type="checkbox"] {
                transform: scale(1.5);
              }
                &:nth-child(1) {
                  width: 20%;
              }
              &:nth-last-child(1), &:nth-last-child(2){
                text-align: center;
              }
            }
            &.bg-skyblue{
              td{
                 background-color: #bdd7ee;
              }           
            } 
          }        
        }
      }
    }
    .modal-footer {
      padding: 22px 0 0 0;
    }

  }
}

.round-button-one {
  bottom: 0;
  position: absolute;
}
.round-button-two {
  bottom: 0;
  position: absolute;
}

.subClidField {
    display: flex;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}

.custom-close {
  color: red;
  font-size: 20px !important;
  line-height: 26px !important;
}

.imagePreviewWrapper {
    width: auto;
    height: 350px;
    display: block;
    cursor: pointer;
    margin: 0 auto 30px;
    background-size: cover;
    background-position: center center;
}
.custom-carousal{
    padding: 10px;
    min-height: 435px;
    max-height: 500px;
    overflow: hidden;
}
.SelectUpload{
  display: block;
}
.SelectUpload input, .SelectUpload input:focus, .SelectUpload input:hover{
    outline: none;
    box-shadow: 0 0 0;
    margin-top: 15px !important;
    padding: 0;
    margin: 0 auto;
    width: 168px;
}

.custom-file-input {
  color: transparent;
  padding: 29px;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Upload New Illustration';
  color: white;
  display: inline-block;
  background: -webkit-linear-gradient(top, #3097D1, #3097D1);
  border: 1px solid #3097D1;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 10pt;
  outline: none;
}
.custom-file-input:hover::before, .custom-file-input:focus::before { 
  outline: none;
}
.custom-file-input:active {
  outline: 0;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #3097D1, #3097D1); 
}

.decision-tree {
  border-style: solid;
  border-width: thin;
  padding: 27px;
}
.create-edit-value .create-edit-value-heading{
	margin-bottom: 15px;
}

.modal-body.create-edit-value h5 {
    text-align: left;
    width: 90px;
    display: flex;
    margin: 5px 10px 0 0;
}

@media (max-width: 1100px) {
  .customTabbing{
    li {
      font-size: 13px;
    }
  }
}

@media (max-width: 1024px) {
  .character-modal .modal-container {
    width: 95% !important;
  }
}

@media (max-width: 991px) {
  .custom-flex {
    flex-direction: column;
  }

  .character-modal .modal-container {
    width: 100% !important;
  }

  .custom-character-field {
    margin-bottom: 15px;
    margin-right: 0px !important; 
  }
}

@media screen and (min-width: 767px ){
  .character-modal .modal-container {
      max-width: 950px !important;
      margin:0 auto;
      display: inline-block;
      width: 90%;
      text-align:left;
  }
  .character-modal .modal-wrapper{text-align:center;}
}





